<h1> Update User4</h1>
<form action="/update" method="POST">
    Id: <input type="text" name="id" value="<%= User4s.id%>"><br>
    LatLong: <input type="text" name="LatLong" value="<%= User4s.LatLong%>"><br>
    Role: <input type="text" name="Role" value="<%= User4s.Role%>"><br>
    OpenHour: <input type="text" name="OpenHour" value="<%= User4s.OpenHour%>"><br>
    DefaultAccount: <input type="text" name="DefaultAccount" value="<%= User4s.DefaultAccount%>"><br>
    BankName: <input type="text" name="BankName" value="<%= User4s.BankName%>"><br>
    BranchName: <input type="text" name="BranchName" value="<%= User4s.BranchName%>"><br>
    <button type="submit">Update User</button>
</form>